.login {
  min-width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 5rem;
}

h2,
h3 {
  color: gray;
}

// .background {
//   height: 100%;
//   background: linear-gradient(to right, #7474bf, #348ac7);
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
// }
