<ngx-spinner type="timer"></ngx-spinner>
<div class="container-fluid" *ngIf="show === 1">
  <div class="card">
    <div class="row mid">
      <div class="col-md-auto">
        <h2>จำนวนคงเหลือ</h2>
      </div>
      <div class="col-md-auto center">
        <mat-form-field appearance="standard" class="custom-mat-field">
          <mat-label>เลือกตำแหน่ง Med Dispen</mat-label>
          <mat-select name="msBox" (selectionChange)="selectMsBox($event)">
            <mat-option *ngFor="let x of listMaBox" [value]="x">
              {{ x.shelfname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-auto center">
        <div [hidden]="!showDispenStockt">
          <mat-form-field>
            <input matInput (keyup)="findDrugStock($event)" #input />
            <mat-placeholder>ค้นหายา : </mat-placeholder>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-auto">
        <button
          type="button"
          class="btn btn-primary"
          (click)="showRefillH()"
          [hidden]="!showDispenStockt"
        >
          ประวัติเติมยา
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" [hidden]="!showDispenStockt" style="padding: 0;">
      <div class="card">
        <table
          class="table-striped"
          mat-table
          [dataSource]="dataDispenStockt"
          #sortDispenStockt="matSort"
          matSort
          matSortActive=""
          matSortDirection="asc"
        >
          <ng-container matColumnDef="binID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ตำแหน่ง</th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.binID }}
            </td>
          </ng-container>
          <ng-container matColumnDef="DrugNm">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อยา</th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.DrugNm }}
            </td>
          </ng-container>
          <ng-container matColumnDef="LotNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LotNo</th>
            <td mat-cell *matCellDef="let element" class="">
              <div *ngFor="let index of element.numLot">
                <div class="d-flex p-1">
                  <div class="lot">
                    {{ element.Lot[index].LotNo }}
                  </div>
                  <div class="lot">
                    {{ element.Lot[index].Exp }}
                  </div>
                  <div class="lot-qty right">
                    {{ element.Lot[index].In_Qty }}
                  </div>
                  <div>
                    <mat-icon
                      class="ml-1 edit"
                      (click)="editLot(element, index)"
                    >
                      border_color</mat-icon
                    >
                    <mat-icon class="ml-2 del" (click)="delLot(element, index)"
                      >delete_forever</mat-icon
                    >
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="SumLotQty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              คงเหลือรวม
            </th>
            <td mat-cell *matCellDef="let element" class="center">
              <b>{{ element.SumLotQty }}</b>
            </td>
          </ng-container>
          <ng-container matColumnDef="Fix">
            <th mat-header-cell *matHeaderCellDef>Fix</th>
            <td mat-cell *matCellDef="let element" class="center">
              {{ element.Fix }}
              <mat-icon class="ml-1 edit" (click)="editFix(element)">
                border_color</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="Min">
            <th mat-header-cell *matHeaderCellDef>Min</th>
            <td mat-cell *matCellDef="let element" class="center">
              {{ element.Min }}
              <mat-icon class="ml-1 edit" (click)="editMin(element)">
                border_color</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="Refill">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Refill</th>
            <td mat-cell *matCellDef="let element" class="center">
              <button
                type="button"
                class="btn btn-success btn-sm"
                (click)="selectDrugRefill(element)"
              >
                <mat-icon>shopping_cart</mat-icon>
                {{ element.Refill }}
              </button>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="addRefill">
              <th mat-header-cell *matHeaderCellDef>เติมยา</th>
              <td mat-cell *matCellDef="let element" class="center">
                <span
                  class="material-icons edit"
                  (click)="selectDrugRefill(element)"
                >
                  add_circle_outline
                </span>
              </td>
            </ng-container> -->

          <tr
            mat-header-row
            *matHeaderRowDef="displayDispenStockt; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayDispenStockt"></tr>
        </table>
        <mat-paginator
          #paginDispenStockt="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
    <div class="col-md-auto ml-2" *ngIf="dataRefill" style="padding: 0;">
      <div class="print">
        <div class="card">
          <div class="center">
            <h2>สร้างรายการเติมยา</h2>
          </div>
          <table
            mat-table
            [dataSource]="dataRefill"
            #sortRefill="matSort"
            matSort
            matSortActive=""
            matSortDirection="desc"
            id="refillTable"
          >
            <!-- <ng-container matColumnDef="rowNum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>rowNum</th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.rowNum + 1 }}
            </td>
          </ng-container> -->
            <ng-container matColumnDef="qrCode">
              <th mat-header-cell *matHeaderCellDef>qrCode</th>
              <td
                mat-cell
                *matCellDef="let element"
                class="center mid"
                style="display: flex"
              >
                <div>
                  <qrcode
                    [qrdata]="element.qrCode"
                    [width]="120"
                    [errorCorrectionLevel]="'M'"
                  ></qrcode>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="DrugNm">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อยา</th>
              <td mat-cell *matCellDef="let element" class="">
                <div>{{ element.DrugNm }}</div>
                <div>Lot. {{ element.Lotno }}</div>
                <div>Exp. {{ element.Exp }}</div>
                <div>จำนวน {{ element.Refill }}</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element" class="center">
                <mat-icon class="del" (click)="removeRefill(element)"
                  >cancel</mat-icon
                >
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="del">
              <th mat-header-cell *matHeaderCellDef>ลบ</th>
              <td mat-cell *matCellDef="let element" class="center">
                <span class="material-icons del" (click)="removeRefill(element)">
                  remove_circle_outline
                </span>
              </td>
            </ng-container> -->
            <tr
              mat-header-row
              *matHeaderRowDef="displayRefill; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayRefill; let element"
            ></tr>
          </table>
          <div class="center pb-2">
            <button
              type="button"
              class="btn btn-primary"
              (click)="submitRefill(1)"
            >
              <mat-icon>save</mat-icon> บันทึก
            </button>
            <button
              type="button"
              class="btn btn-success ml-2"
              (click)="submitRefill(2)"
            >
              <mat-icon>print</mat-icon>บันทึกและพิมพ์
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="show === 2">
  <div class="row row-top mt-2 mb-2">
    <div class="col">
      <h2>
        <mat-icon class="link" (click)="showStock()">arrow_back_ios</mat-icon>
        รายการเติมยา
      </h2>
    </div>
    <div class="col center">
      <h2>{{ shelfname }}</h2>
    </div>
    <div class="col">
      <select
        class="form-control"
        id="exampleFormControlSelect"
        (change)="selectRefNo($event)"
        style="border: 0px solid #ced4da"
      >
        <!-- <option selected></option> -->
        <option *ngFor="let x of RefillH" [value]="x.refNo">
          {{ x.refillDate }}
        </option>
      </select>
    </div>
    <div class="col right hideprint">
      <button type="button" class="btn btn-success" (click)="printPage()">
        <mat-icon>print</mat-icon> พิมพ์
      </button>
    </div>
  </div>
  <div [hidden]="ListRefill.length === 0">
    <mat-grid-list cols="2" rowHeight="2:1">
      <div *ngFor="let x of ListRefill">
        <mat-grid-tile style="text-align: center; vertical-align: middle">
          <div class="grid-tile-content">
            <div class="qrcode">
              <qrcode
                [qrdata]="x.qrCode"
                [width]="200"
                [errorCorrectionLevel]="'M'"
                (click)="viewQR(x)"
                class="pointer"
                style="height: 200px"
              ></qrcode>
            </div>
            <div class="drug-name">
              {{ x.DrugNm }}
            </div>
            <div class="drug-Lot">
              Lot.{{ x.Lotno }} Exp.{{ x.Exp }} จำนวน = {{ x.Refill }}
            </div>
          </div>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>

<div
  class="modal fade"
  id="addRefill"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="addRefillLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title m-0" id="addRefillLabel">กรอกข้อมูลยา</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="clear()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="flex">
          <mat-form-field class="custom-mat-field">
            <mat-label>ชื่อยา</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="fromRefill.DrugNm"
              name="DrugNm"
              readonly
            />
          </mat-form-field>
        </div>
        <mat-form-field class="custom-mat-field">
          <mat-label>Lot No</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="fromRefill.Lotno"
            name="Lotno"
            required
            aria-required="true"
          />
        </mat-form-field>

        <div class="flex">
          <mat-form-field class="custom-mat-field">
            <mat-label>Exp. วัน-เดือน-ปี</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="fromRefill.Exp"
              name="Exp"
              required
              aria-required="true"
              mask="00-00-0000"
            />
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-form-field class="custom-mat-field">
            <mat-label>Refill</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="fromRefill.Refill"
              name="Refill"
              required
              aria-required="true"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="submitAddRefill()"
        >
          ยืนยัน
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="arlertRefill"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="arlertRefillLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title m-0" id="arlertRefillLabel">
          แจ้งเตือน รายการยาที่ต้องเติม
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="printAlert overflow-auto">
          <table
            mat-table
            [dataSource]="dataAlertRefill"
            #sortAlertRefill="matSort"
            matSort
            class="table"
            matSortActive=""
            matSortDirection="asc"
            id="alertTable"
            style="border-collapse: collapse"
          >
            <ng-container matColumnDef="shelfname">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="border: 1px solid black"
              >
                ตู้
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class=""
                style="border: 1px solid black"
              >
                {{ element.shelfname }}
              </td>
            </ng-container>
            <ng-container matColumnDef="DrugNm">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="border: 1px solid black"
              >
                ชื่อยา
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class=""
                style="border: 1px solid black"
              >
                {{ element.DrugNm }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Fix">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="border: 1px solid black"
              >
                Fix
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class=""
                style="border: 1px solid black; text-align: right"
              >
                {{ element.Fix }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Min">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="border: 1px solid black"
              >
                Min
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class=""
                style="border: 1px solid black; text-align: right"
              >
                {{ element.Min }}
              </td>
            </ng-container>
            <ng-container matColumnDef="SumLotQty">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="border: 1px solid black"
              >
                คงเหลือรวม
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class=""
                style="border: 1px solid black; text-align: right"
              >
                {{ element.SumLotQty }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Refill">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="border: 1px solid black"
              >
                Refill
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class=""
                style="border: 1px solid black; text-align: right"
              >
                {{ element.Refill }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayAlertRefill; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayAlertRefill"></tr>
          </table>
        </div>
        <div>
          <mat-paginator
            #paginAlertRefillt="matPaginator"
            [length]="10"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
        <button type="button" class="btn btn-primary" (click)="printAlert()">
          พิมพ์
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editLot"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="editLotLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="dataDrug">
      <form [formGroup]="formDrug" (ngSubmit)="submitEditLot()">
        <div class="modal-header">
          <h2 class="modal-title" id="editLotLabel">{{ dataDrug.DrugNm }}</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="LotNo">Lot. No</label>
            <input
              type="text"
              class="form-control"
              id="LotNo"
              formControlName="LotNo"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="Exp">Exp. Date</label>
            <input
              type="text"
              class="form-control"
              id="Exp"
              formControlName="Exp"
            />
          </div>
          <div class="form-group">
            <label for="newQty">จำนวน</label>
            <input
              type="text"
              class="form-control"
              id="newQty"
              formControlName="newQty"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ยกเลิก
          </button>
          <button type="submit" class="btn btn-primary">ตกลง</button>
        </div>
      </form>
    </div>
  </div>
</div>
