
.lot {
  min-width: 6.25rem;
}

.lot-qty {
  min-width: 3rem;
}

@media print {
  .hideprint {
    display: none;
  }
  body {
    background: #fff !important;
  }
}

.edit-lot {
  cursor: pointer;
}

.edit-lot:hover {
  color: #0d6efd;
}


.grid {
  display: grid;
  column-gap: 8px;
  grid-template-columns: auto auto;
  // padding: 10px;
}

