<ngx-spinner type="timer"></ngx-spinner>
<div class="container-fluid">
  <div class="card">
    <div class="row mid">
      <div class="col-md-auto">
        <h2>ใบสั่งยา</h2>
      </div>
      <div class="col-md-auto">
        <form [formGroup]="campaign">
          <mat-form-field>
            <mat-label>เลือกวัน</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="picker"
              (dateChange)="dateChange($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
      </div>
      <div class="col-md-auto">
        <mat-form-field>
          <input matInput (keyup)="oderFilter($event)" #input />
          <mat-placeholder>ค้นหา : </mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="card">
    <table
      class="table-striped"
      mat-table
      [dataSource]="dataOrderWard"
      #sortOrderWard="matSort"
      matSort
      matSortActive=""
      matSortDirection="asc"
    >
      <ng-container matColumnDef="row_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ลำดับ</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.row_number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="reqDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.reqDate }} {{ element.reqTime }}น.
        </td>
      </ng-container>
      <ng-container matColumnDef="reqNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ใบสั่งยา</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.reqNo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="hn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>HN</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.hn }}
        </td>
      </ng-container>
      <ng-container matColumnDef="an">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>AN</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.an }}
        </td>
      </ng-container>
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ชื่อ - นามสกุล
        </th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.titlename }}
          {{ element.firstname }}
          {{ element.lastname }}
        </td>
      </ng-container>
      <ng-container matColumnDef="wardcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>รหัสหอผู้ป่วย</th>
        <td mat-cell *matCellDef="let element" class="center">
          {{ element.wardcode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="ward_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>หอผู้ป่วย</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.ward_name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="bedcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>เตียง</th>
        <td mat-cell *matCellDef="let element" class="center">
          {{ element.bedcode }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayOrderWard; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayOrderWard; let element"
        (click)="viewDetail(element)"
        class="pointer"
      ></tr>
    </table>
    <mat-paginator
      #paginOrderWard="matPaginator"
      [length]="10"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<div
  class="modal fade"
  id="orderDetail"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="orderDetailLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="orderDetailLabel">
          <i class="fas fa-bed"></i> {{ patientBed }} {{ patientNM }} >
          {{ reqNo }}
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <table
            class="table-striped"
            mat-table
            [dataSource]="dataOrderDetail"
            #sortOrderDetail="matSort"
            matSort
            matSortActive=""
            matSortDirection="asc"
          >
            <ng-container matColumnDef="row_number">
              <th mat-header-cell *matHeaderCellDef>ลำดับ</th>
              <td mat-cell *matCellDef="let element" class="numRow">
                {{ element.row_number }}
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="startIssDate">
                <th mat-header-cell *matHeaderCellDef>วันเริ่มจ่ายยา</th>
                <td mat-cell *matCellDef="let element" class="">
                  {{ element.startIssDate }}
                </td>
              </ng-container> -->
            <ng-container matColumnDef="orderitemname">
              <th mat-header-cell *matHeaderCellDef>รายการยา</th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.orderitemname }}
              </td>
            </ng-container>
            <ng-container matColumnDef="lamedText">
              <th mat-header-cell *matHeaderCellDef>วิธีใข้</th>
              <td mat-cell *matCellDef="let element">
                <div class="textlong">
                  {{ element.lamed1 }}
                  <b
                    >{{ element.lamed2 }} {{ element.lamed3 }}
                    {{ element.lamed4 }}</b
                  ><br />
                  {{ element.lamed5 }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="qtyReq">
              <th mat-header-cell *matHeaderCellDef>จำนวนจ่าย</th>
              <td mat-cell *matCellDef="let element" class="right">
                <b>{{ element.qtyReq }}</b> {{ element.unit }}
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="uPrice">
                <th mat-header-cell *matHeaderCellDef>จำนวนเงิน</th>
                <td mat-cell *matCellDef="let element" class="right pr-2">
                  {{ element.qtyReq * element.uPrice | number : "1.2-2" }}
                </td>
              </ng-container> -->

            <ng-container matColumnDef="img">
              <th mat-header-cell *matHeaderCellDef>เอกลักษณ์ยา</th>
              <td mat-cell *matCellDef="let element" class="center">
                <img
                  *ngIf="element.img"
                  [src]="element.img"
                  alt="รูปภาพ"
                  (click)="viewImg(element)"
                  class="pointer"
                />

                <span
                  class="material-icons"
                  style="font-size: 7.375em; color: lightgrey"
                  *ngIf="!element.img"
                >
                  add_a_photo
                </span>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayOrderDetail; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayOrderDetail"></tr>
          </table>
        </div>
        <div>
          <mat-paginator
            #paginOrderDetail="matPaginator"
            [length]="5"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>
