// .mat-form-field {
//   margin-right: 16px;
// }

// .gridHead {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
// }

// @media (max-width: 900px) {
//   .gridDetail {
//     display: grid;
//     // column-gap: 8px;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

//     // padding: 10px;
//   }
// }

// .gridPatient {
//   height: 100%;
//   display: grid;
//   // column-gap: 8px;
//   grid-template-columns: 25% auto;
//   // padding: 10px;
//   p {
//     font-size: 16px;
//   }
// }

// .itemDetail {
//   // border: 1px solid grey;
//   border-style: ridge;
// }

// .titlePatient {
//   p {
//   }
// }
// .dataPatient {
//   p {
//     background-color: whitesmoke;
//     border-radius: 5px;
//   }
// }

img {
  height: 5.625rem;
  padding: 8px;
}

.insert_photo {
  height: 5.375rem;
  width: 5.375rem;
  font-size: 5.375rem;
  color: lightgrey;
}