<ngx-spinner type="timer"></ngx-spinner>
<div class="container-fluid">
  <div class="card">
    <div class="row mid">
      <div class="col-md-auto">
        <h2>สืบค้นยา</h2>
      </div>
      <div class="col-md-auto ml-2">
        <mat-form-field>
          <input matInput (keyup)="drugFilter($event)" #input />
          <mat-placeholder>ชื่อยา :</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="card">
    <table
      class="table-striped"
      mat-table
      [dataSource]="dataAllDrug"
      #sortAlldrug="matSort"
      matSort
      matSortActive=""
      matSortDirection="asc"
    >
      <ng-container matColumnDef="drugName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="">
          ชื่อยา
        </th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.drugName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef class="">เอกลักษณ์ยา</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="center"
          style="vertical-align: middle"
        >
          <img
            *ngIf="element.img"
            [src]="element.img"
            alt="รูปภาพ"
            (click)="viewImg(element)"
            class="pointer"
          />

          <mat-icon *ngIf="!element.img" class="insert_photo">
            insert_photo</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayAllDrug"></tr>
      <tr mat-row *matRowDef="let row; columns: displayAllDrug"></tr>
    </table>
    <mat-paginator
      #paginatorAllDrug="matPaginator"
      [length]="5"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 50]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
