.reqHead {
  p {
    margin-bottom: 4px;
  }
}

.example-form-field {
  width: 12.5rem;
}

.gridRequest {
  display: grid;
  grid-template-columns: auto auto auto auto;
  // grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  column-gap: 0.125rem;
  p {
    margin-bottom: 0.125rem;
  }
}

.gridFooter {
  display: grid;
  grid-template-columns: auto auto;
  p {
    padding: 0;
  }
}

.gridMedError {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto auto;
  padding: 0rem;
}

.footer {
  margin-top: 12px;
  // padding-top: 0.125rem;
}

.numRow .row-number {
  margin-left: 0.125rem;
}

// .check span {
//   font-size: 16px;
//   cursor: pointer;
// }

.custom-mat-field {
  width: 100%; /* Adjust the width as needed */
}

.imgTbl {
  max-height: 3.625rem;
  max-width: 3.625rem;
}

.top td.mat-cell {
  vertical-align: top;
}

.pn_typer {
  margin: 0.5rem 0;
}

.pn_head {
  border-top: 1px solid lightgray;
}

.pn_p {
  margin: 0 0 0;
}

.list-con {
  .mat-cell {
    // color: #a6a6a6 !important;
    color: gray !important;
  }
  img {
    opacity: 0.6;
  }
  // background-color: whitesmoke;
}

.gridhm {
  display: grid;
  grid-template-columns: 40% auto;
  column-gap: 10px;
}


.medDisplay {
  // border: 1px solid lightgrey;
  min-height: 500px;
  background-color: #191919;
  color: white;
}

.imgMonit {
  max-height: 31.25rem;
  max-width: 31.25rem;
  margin-top: 8px;
}

.insert_photo {
  height: 3.625rem;
  width: 3.625rem;
  font-size: 3.62rem;
  color: lightgrey;
}

.table-container {
  height: 300px;
  overflow-y: auto;
  
}




