/* You can add global styles to this file, and also import other style files */
// * {
//   font-size: 1rem;
// }

html {
  font-size: calc(60% + 0.8vmin);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f0f2f5;
  // background: linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4);
}

@media (max-width: 440px) {
  // .table  thead tr {
  //   display: none !important;
  // }
  // .table tr {
  //   display: block;
  // }
  // .table th, .table td{
  //   padding: 0.5em
  // }
  // .table td{
  //   text-align: right;
  //   display: block;
  //   font-size: 1em;
  // }
  // .table td::before{
  //   content:attr()
  // }
}

@media (max-width: 900px) {
  table td {
    //  font-size: 0.125rem;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .right2 {
    text-align: left !important;
  }

  .center2 {
    text-align: left !important;
  }
}

.container-fluid {
  padding: 8px !important;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

// .col {
//   padding: 0;
// }

.navbar {
  // background-color: #2E8BC0;
  // border-bottom: 1px solid lightgray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card {
  // background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 0 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  table {
    margin: 8px 0px;
  }
}

.btn {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.table {
  width: 100%;
}

table {
  width: 100%;
  overflow: auto;
  // background-color: rgba(255, 255, 255, 0) !important;
}

.mat-row:nth-child(even) {
  // background-color: rgba(255, 255, 255, 0.9);
}

.mat-row:nth-child(odd) {
  // background-color: rgba(255, 255, 255, 0.4);
  // background-color: #f0f2f5;
}

.mat-header-cell {
  color: #000;
  // border-top: unset !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: unset !important;
  border-bottom-style: unset !important;
}

.col-sm-3 {
  padding-right: 4px;
  padding-left: 4px;
}

.h-100 {
  padding-top: 4px;
}

// table tr:hover {
//   td {
//     background-color: #f8f9fa;
//   }
// }

table.mat-calendar-table {
  box-shadow: unset !important;
}

th.mat-header-cell {
  font-size: 1rem;
  text-align: center !important;
  max-width: 100px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  // color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  td.mat-cell {
    // color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
  }
}

// th.mat-header-cell,
// td.mat-cell,
// td.mat-footer-cell {
//   padding: 2px !important;
// }

// th.mat-header-cell:first-of-type,
// td.mat-cell:first-of-type,
// td.mat-footer-cell:first-of-type {
//   padding-left: 24px !important;
// }

// th.mat-header-cell:last-of-type,
// td.mat-cell:last-of-type,
// td.mat-footer-cell:last-of-type {
//   padding-right: 24px !important;
// }

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// span {
//   padding: 0 !important;
//   margin: 0 !important;
// }

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.mat-sort-header-container {
  justify-content: center;
}

.spinner-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// .modal-dialog {
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   // height: 100%;
//   margin-top: 3.875rem;
// }

.zoom {
  cursor: zoom-in;
}

.head {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

// .mat-tab-body-content {
//   overflow: unset !important;
// }

.mat-tab-label {
  opacity: unset !important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: unset;
}

.mat-tab-label.mat-tab-label-active {
  // background-color: #007bff;
  color: #007bff;
  // // font-weight: bold;
  // opacity: 1;
  // // background-color: #6610f2 ;
}

.material-icons {
  vertical-align: middle;
}

.bkselect {
  color: #fff;
  background-color: #0e86d4;

  .edit {
    color: #fff;
  }
}

.link {
  color: #0e86d4;
  cursor: pointer;
}

.link:hover {
  color: #0e85d451;
}

.edit {
  color: #ffc107;
  cursor: pointer;
}

.edit:hover {
  color: #ffc10752;
}

.del {
  color: #dc3545;
  cursor: pointer;
}

.del:hover {
  color: #dc354650;
}

.red {
  color: #dc3545;
}

.redBG {
  background-color: rgba($color: #dc3545, $alpha: 0.2);
}

.orange {
  color: #fd7f20;
}

.bgYellow {
  // td {
  //   color: #fff;
  // }
  background-color: #ffff8a !important;
}

.green {
  color: #28a745;
}

.bgGreen {
  // td {
  //   color: #fff;
  // }
  background-color: #8aff8a !important;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #0d6efd;
}

.yellow {
  color: #ffc107;
}

.grey {
  color: grey;
}

.nonePad {
  padding: 10rem;
}

// .mat-cell {
//   color: unset !important;
// }

// .mat-tooltip {
//   font-size: 10.25rem !important;
//   white-space: pre-line !important;
// }

.remove-border {
  border: none;
}

// .btn-light {
//   background-color: #fff;
// }

.mid {
  align-items: center;
  min-height: 48px;
}

.mat-icon {
  vertical-align: middle;
}

.close {
  span {
    font-size: 28px !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}

.swal2-image {
  margin: 0 auto auto !important;
}

// .swal2-popup {
//   background: unset !important;
//   padding: 0 !important;
// }

.swal2-title {
  padding: 8px 8px 0 !important;
}

.swal2-styled.swal2-confirm {
  background-color: #007bff !important;
}

div.swal2-actions {
  margin: 8px 0 0 !important;
}

img.swal2-image {
  max-height: 500px !important;
}

.swal2-close {
  color: #000 !important;
  // border: 2px solid #dc3545 !important;
}

.mat-paginator-container {
  background-color: transparent !important;
  border-width: 0 !important;
}

.mat-paginator {
  background-color: transparent !important;
  border-width: 0 !important;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding: 0 !important;
}
